@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
    font-family: "Kanit", sans-serif;
}

body::-webkit-scrollbar { display: none; }

body::selection { background-color: rgba(255,  255, 255, .5); color: rgba(0, 0, 0, .2); }

img::selection, button::selection, h1::selection, a::selection { background: transparent; }

a, button, input, li {
    padding: 0;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    font-family: "Kanit", sans-serif;
}

.site {
    box-shadow: inset 0 160px 0 0 rgba(0, 0, 0, .2);
    min-height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site__container {
    max-width: 1360px;
    width: 100%;
    height: 720px;
    box-shadow: 0 8px 24px -4px rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 1);
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.site__curcle {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    filter: blur(55px) opacity(.2);
    background-color: #fff;
}

.site__curcle.one {
    top: 500px;
}

.site__curcle.two {
    top: 0;
    left: 75%;
    z-index: -1;
}

.site__aside {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    width: 300px;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(255,  255, 255, .15);
    backdrop-filter: blur(44px);
    z-index: 1;
}

.avatar {
    margin-top: 100px;
    
    img {
        cursor: pointer;
        object-fit: cover;
        width: 150px;
        height: 150px;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, .25);
    }
}

.aside__name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 150px;
    font-size: 24px;
    border-radius: 140px;
    font-weight: normal;
    text-transform: uppercase;
    border: 0.5px solid #fff;
    color: #fff;
    background: rgba(255, 255, 255, .20);
    box-shadow: 0 4px 8px rgba(0, 0, 0, .25);
}

.social__media {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    place-items: center;
    margin-bottom: 80px;
    height: 100px;
    width: 150px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, .15);

    a {
        background: transparent;
        color: #fff;
        font-size: 28px;
    }
}

.social__media__icons.tg {
    position: relative;
    color: rgb(0, 183, 255);
}

.social__media__icons.tg::before {
    position: absolute;
    content: ' ';
    height: 13px;
    width: 19px;
    top: 15px;
    left: 5px;
    background-color: #fff;
    z-index: -1;
}

.social__media__icons.vk {
    position: relative;
    color: rgb(38, 38, 255);
}

.social__media__icons.vk::before {
    position: absolute;
    content: ' ';
    height: 10px;
    width: 19px;
    top: 15px;
    left: 5px;
    background-color: #fff;
    z-index: -1;
}

.social__media__icons.gmail {
    transform: rotate(90deg);
}

.site__content {
    position: relative;
    margin-top: 0;
    top: -100%;
    margin-left: auto;
    padding: 50px;
    padding-left: 100px;
    height: 100%;
    width: calc(100% - 250px);
    z-index: 0;

    header {
        width: 100%;
        height: 100px;

        ul {
            display: flex;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 50px;

            li {
                height: 50px;
                width: 150px;
                border-radius: 140px;
                overflow: hidden;

                button {
                    position: relative;
                    background-color: rgba(255,  255, 255, .15);
                    color: rgba(255, 255, 255, .20);
                    height: 100%;
                    width: 100%;
                    border-radius: 140px;
                    border: none;
                    outline: none;
                    font-size: 24px;
                    font-style: normal;
                    text-transform: uppercase;
                    border: 0.1px dashed #fff;
                    transition: background-color .5s ease-in-out,
                        color .5s ease-in-out;
                }
                
                button::before {
                    position: absolute;
                    content: ' ';
                    display: block;
                    inset: 0;
                    top: 50px;
                    height: 25px;
                    width: 250px;
                    background-color: rgba(255,  255, 255, .15);
                    transition: all .5s ease-in-out;
                }

                button:hover::before {
                    background-color: rgba(255,  255, 255, .65);
                    top: -50px;
                }
            }
        }
    }
}

.site__header__list > .active > button {
    border: 0.1px solid #fff;
    background-color: rgba(255, 255, 255, .35);
    color: rgba(255, 255, 255, 1);
}

.site__header__list > .active > button::before {
    display: none;
}

.home__content {
    display: none;
    max-height: 0;
    transition: all .5s ease-in-out;
}

.home__content.active {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    max-height: 800px;
    height: calc(100% - 100px);

    animation: fadeIn 0.5s ease-in-out;
    
    h1 {
        max-width: 500px;
        font-size: 68px;
        color: #fff;
    }

    button {
        position: relative;
        height: 50px;
        width: 150px;
        border-radius: 140px;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        letter-spacing: 1px;
        border: none;
        outline: none;
        overflow: hidden;
        background-color: rgba(255, 255, 255, .15);
        color: rgba(255, 255, 255, .35);
    }

    button::before {
        position: absolute;
        content: ' ';
        top: -50px;
        left: -90px;
        rotate: 45deg;
        width: 25px;
        height: 250px;
        transition: all .5s ease-in-out;
        background-color: rgba(255, 255, 255, .20);
    }

    button:hover::before {
        left: 115px;
    }
}

.about__content {
    display: none;
    max-height: 0;
    opacity: 0;
    transition: all .9s ease-in-out;
    
    .about__container {
        transform: translateY(90px);
        transition: transform .9s ease-out;
    }
}

.about__content.active {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    max-height: 800px;
    height: calc(100% - 100px);
    transform: translateY(0px);
    opacity: 1;

    animation: fadeIn 0.5s ease-in-out;

    .about__container {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(55px);
        border-radius: 20px;
        background-color: rgba(255, 255, 255, .2);
        transform: translateY(0px);

        .about__title {
            font-size: 32px;
            color: #fff;
        }
        img {
            object-fit: cover;
            width: 150px;
            height: 150px;
            border-radius: 20px;
        }
        .about__discription {
            margin-top: 60px;
            color: rgba(255,  255, 255, .6);
            font-size: 22px;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}